.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: .1em;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

table.table-bordered {
  width: 100%;
}

table.table-bordered, table.table-bordered>tr>td, table.table-bordered>tr>th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: .3em;
}

.full-width { width: 100%; }

.codeInput { width: 100%; font-size: 14pt; }